<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Mi perfil'}) %>
<body>
 <!-- Header -->
 <%- include('../partials/header') %>
 <!-- Header -->

    <section class="login-section">
        <div class="container-login">
            > <a href="/user/profile/edit">Editar mis datos</a>
            > <a href="/user/profile/edit/password">Editar mi contraseña</a>
            <div class="user-title">
                <h1>Editar mis datos</h1>
            </div>
            <div>
                <form action="/user/profile/edit?_method=PUT" method= "POST">
                    <div class="container-img-edit">
                        <div class="container-img-edit-profile">
                        <label>Imagen de perfil </label>
                        <br>
                        <img class="imgUser" src="/images/users/<%= user.avatar %>" alt="Imagen de Usuario">
                        </div>
                        <div class="input-profile-img">
                            <input 
                                type="file"
                                name="avatar" 
                            >
                        </div>
                    </div>
                    <div class="input-profile-container">
                        <div class="input-profile-field">
                            <label for="first_name">Nombres </label>
                            <div class="input-box">
                                <input 
                                    type="text" 
                                    placeholder="Enter your email" 
                                    name="first_name"
                                    value = "<%= user.first_name %>"
                                >
                            </div>
                        </div>
                        <div class="input-profile-field">
                            <label for="last_name">Apellidos </label>
                            <div class="input-box">
                                <input 
                                    type="text" 
                                    placeholder="Ingresa tus apellidos" 
                                    name="last_name"
                                    value = "<%= user.last_name %>"
                                >
                            </div>
                        </div>
                    </div>         
                    <div class="input-profile-container">
                        <div class="input-profile-field">
                            <label for="email">Correo electrónico </label>
                            <div class="input-box">
                                <input 
                                    disabled
                                    type="text" 
                                    placeholder="Enter your email" 
                                    name="email"
                                    value = "<%= user.email %>"
                                >
                            </div>
                        </div>
                        <div class="input-profile-field">
                            <label for="username">Username </label>
                            <div class="input-box">
                                <input 
                                    type="text" 
                                    placeholder="Ingresa tu username" 
                                    name="username"
                                    value = "<%= user.username %>"
                                >
                            </div>
                        </div>
                    </div>
                    <button class="login-button" type="submit">Guardar cambios</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <!-- Footer -->
</body>
</html>