<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Register'}) %>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- Header -->
    <section class="register-section">
        <div class="container-signup">
            <form method="POST" action="/user/register/" enctype="multipart/form-data">
                <div class="form-content">
                    <a href="/">
                        <div class="image-container">
                        </div>
                    </a>
                    <div class="signup-form">
                        <div class="input-boxes">
                            <h3 class="title">Sign up</h3>
                            <div class="input-box">
                                <i class="fa-solid fa-user-astronaut"></i>
                                <input 
                                    type="text"
                                    name="first_name"  
                                    placeholder="Enter your first name" 
                                    value = "<%= locals.oldData ? oldData.first_name : null %>"
                                >
                            </div>
                            <% if (locals.errors && errors.first_name) { %>
                                <div class="text-danger">
                                    <%= errors.first_name.msg %> 
                                </div>
                            <% } %>
                            <div class="input-box">
                                <i class="fa-solid fa-child-reaching"></i>
                                <input 
                                    type="text"
                                    name="last_name"  
                                    placeholder="Enter your last name" 
                                    value = "<%= locals.oldData ? oldData.last_name : null %>"
                                >
                            </div>
                            <% if (locals.errors && errors.last_name) { %>
                                <div class="text-danger">
                                    <%= errors.last_name.msg %> 
                                </div>
                            <% } %>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input 
                                    type="email"
                                    name="email" 
                                    placeholder="Enter your email" 
                                    value = "<%= locals.oldData ? oldData.email : null %>"
                                >
                            </div>
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %> 
                                </div>
                            <% } %>
                            <div class="input-box">
                                <i class="fa-solid fa-lock"></i>
                                <input 
                                    type="password" 
                                    name="password"
                                    placeholder="Enter your password" 
                                >
                            </div>
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %> 
                                </div>
                            <% } %>
                            <label>Imagen de perfil:</label>
                            <div class="input-box">
                                <i class="fa-solid fa-image"></i>
                                <input 
                                    type="file"
                                    name="avatar" 
                                >
                            </div>
                            <button type="submit">Sign up</button>
                            <div class="text">Already have an account? 
                                <a href="/user/login">Login now</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <!-- Footer -->
</body>
</html>