<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Editar ' + title}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<div class="events-wrapper">
		<div class="event-title">
			<h2 class="events-title">Formulario de creación de Eventos</h2>
		</div>
		<br>
		<div class="form-container">
			<form action="/event/save/?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="event-detail">
					<div class="form-field">
						<label for="title" class="form-label">Nombre del evento:</label>
						<input type="text" id="title" name="title" value="<%=  eventToEdit.title %>" class="form-input">
					</div>
					<div class="form-field">
						<label for="main_img" class="form-label">Imagén principal del evento:</label>
						<input type="file" id="main_img" name="main_img" value="<%=  eventToEdit.title %>" class="form-input">
					</div>
					<div class="form-field">
						<label for="date" class="form-label">Fecha del Evento:</label>
						<input type="date" id="date" name="date" value=<%= eventToEdit.date %> class="form-input">
					</div>
					<div class="form-field">
						<label for="cost" class="form-label">Precio del evento:</label>
						<input type="text" id="cost" name="cost" value="<%=  eventToEdit.cost %>" class="form-input">
					</div>
					<div class="form-field">
						<label for="ubication" class="form-label">Ubicación:</label>
						<input type="text" id="ubication" name="ubication" value="<%=  eventToEdit.ubication %>" class="form-input">
					</div>
					<div class="form-field">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<% if( eventToEdit.category === "music" ){ %>
								<option selected value="music">Música</option>
								<option value="cine">Cine</option>
							<% } else { %>
								<option value="music">Música</option>
								<option selected value="cine">Cine</option>
							<% } %>
						</select>
					</div>
					<div class="form-field">
						<label for="description" class="form-label">Descipción:</label>
						<input type="text" name="description" id="description" class="form-input" value="<%=  eventToEdit.description %>"></input>
					</div>
					<div class="button-field">
						<button type="submit" class="save-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los eventos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>