<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Home'}) %>
<body>
     <!-- Header -->
     <%- include('partials/header') %>
     <!-- Header -->
 
    <!-- HeaderNavBar -->
    <%- include('partials/headerNavBar') %>
    <!-- HeaderNavBar -->
    
    <main> 
        <section class="container">    
            <div class="main-article">
              <input type="text" placeholder="Buscar Artista o Evento" />  
            </div>
        </section>
        <div id="conteItemsCarrousel">
            <div class="contenedor-home1-">
                <div class="carrousel">
                    <div class="conteCarrousel">

                        <% events.forEach( ( event )=>  {   %>
                            <div class="itemCarrousel" id="itemCarrousel-1">
                                <div class="itemCarrouselTarjeta">
                                    <div class="evento-home">
                                        <img src="/images/eventos/<%=event.main_img%>" alt="duki" class="product_img-carrousel">
                                    </div>
                                </div>
                                <div class="itemCarrouselArrows">
                                    <a href="#itemCarrousel-10">
                                        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                    </a>
                                    <a href="#itemCarrousel-2">
                                        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                    </a>
                                </div>
                            </div>

                       <% } ) %>

                        

                        <div class="itemCarrousel" id="itemCarrousel-2">
                            <div class="itemCarrouselTarjeta">
                                
                                <div class="evento-home">
                                    <img src="/images/rosalia.jpeg" alt="rosalia" class="product_img-carrousel">
                                </div>
   
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-1">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-3">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-3">
                            <div class="itemCarrouselTarjeta">
                                
                                <div class="evento-home">
                                    <img src="/images/yatra.jpeg" alt="yatra" class="product_img-carrousel">
                                </div>

                                
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-2">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-4">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-4">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/tacuba2.jpg" alt="CafeTacuba" class="product_img-carrousel">
                                </div>                                
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-3">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-5">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-5">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/primavera-sound.jpeg" alt="Primavera" class="product_img-carrousel">
                                </div>                                 
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-4">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-6">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-6">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/angeles-azules.jpeg" alt="Los-angeles-azules" class="product_img-carrousel">
                                </div>
                                                            
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-5">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-7">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-7">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/babasonicos.jpeg" alt="babasonicos" class="product_img-carrousel">
                                </div>
                               
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-6">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-8">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-8">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/bad-bunny.jpeg" alt="bad-bunny" class="product_img-carrousel">
                                </div>                                
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-7">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-9">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-9">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/coldplay.jpeg" alt="coldplay" class="product_img-carrousel">
                                </div>    
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-8">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-10">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-10">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/la-delio-valdez.jpeg" alt="la-delio-valdez" class="product_img-carrousel">
                                </div>
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-9">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-11">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-11">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">                            
                                    <img src="/images/lali.jpeg" alt="lali" class="product_img-carrousel">
                                </div>
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-10">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-1">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="conteCarrouselController">
                        <a href="#itemCarrousel-1">•</a>
                        <a href="#itemCarrousel-2">•</a>
                        <a href="#itemCarrousel-3">•</a>
                        <a href="#itemCarrousel-4">•</a>
                        <a href="#itemCarrousel-5">•</a>
                        <a href="#itemCarrousel-6">•</a>
                        <a href="#itemCarrousel-7">•</a>
                        <a href="#itemCarrousel-8">•</a>
                        <a href="#itemCarrousel-9">•</a>
                        <a href="#itemCarrousel-10">•</a>
                        <a href="#itemCarrousel-11">•</a>

                    </div>
                
                </div>
              
            <div class="productos-home">

                <% events.forEach( ( event )=>  {   %>
                    <article class="contenedor-articulo-carrito-home">
                        <a href="/event/detail/<%= event.id %>">
                            <img src="/images/eventos/<%= event.main_img%>" alt="evento imagen" class="product_img-carrito-home">
                        </a>
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a href="/product/error404" class="compra-carrito">
                                 Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Duki</h4>
                                <h5 class="fecha"> 24 de Junio </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                <% } ) %>
                </div>
        </section>                                   
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Footer -->

</body>
</html>