<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Evento'}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Header -->
        <main>
            <article class="main-detail">
                <div class="portada-detail-img">
                    <div class="img-product-portada">
                        <img src="/images/eventos/<%= event.banner_img %>" alt="<%=event.banner_img%>" class="product-img-detail-portada"> 
                    </div>
                    <img src="/images/eventos/<%= event.banner_img %>" alt="<%=event.banner_img%>" class="product_img-detail">       
                </div>
                <section class="login-section">
                    <div class="container-login">
                        <div class="user-title">
                            <h1>Detalle de la orden</h1>
                        </div>
                        <div>
                            <form action="/user/profile/edit/password?_method=PUT" method= "POST">
                                <div class="input-profile-container">
                                    <div class="input-profile-field">
                                        <label for="new_password">Nueva Contraseña </label>
                                        <div class="input-box">
                                            <input 
                                                type="text" 
                                                placeholder="Ingresa la contraseña" 
                                                name="new_password"
                                                value = "<%= locals.oldData ? oldData.new_password : null %>"
                                            >
                                        </div>
                                    </div>
                                    <div class="input-profile-field">
                                        <label for="confirm_new_password">Confirmación de la nueva contraseña </label>
                                        <div class="input-box">
                                            <input 
                                                type="text" 
                                                placeholder="Confirma la contraseña" 
                                                name="confirm_new_password"
                                            >
                                        </div>
                                    </div>
                                </div>         
                                <button class="login-button" type="submit">Guardar cambios</button>
                            </form>
                        </div>
                    </div>
                </section>
            </article>
        </main>        
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->      
    </body>
</html>