<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Producto'}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Header -->
        <main>
            <article class="main-detail">
                <div class="portada-detail-img">
                    <div class="img-product-portada">
                        <img src="/images/eventos/<%= event.main_img %>" alt="Angeles" class="product-img-detail-portada"> 
                    </div>
                    <img src="/images/eventos/<%= event.main_img %>" alt="Angeles" class="product_img-detail">       
                </div>
                <article class="contenedor-producto-detail-principal">
                    <div class="description-detail">
                        <h2> <%= event.title %></h2>
                        <p><%= event.date %>                 
                        <br>  <%= event.ubication %> </br></p>
                    </div>
                    <div class="texto-descripcion">
                    
                        <h2 class="txt-description">Tickets  a la venta a traves de Shop Event</h2>
                    
                    
                        <p class="info-concierto">
                            <%= event.description %>
                        </p>
                    </div>    
                    <div class="recinto-details">
                        <img src="/images/recintos/luna park.jpg2.jpg" alt="Informacion" class="recinto-img-detail" >            
                        <article>
                            <h3  class="titulo">Recinto</h3> 
                            <br>
                            <p class="luna-park"><%= event.ubication %>.
                                <br>Direccion </br>
                                <br>Av. Eduardo Madero 470, C1106 CABA</br>
                            </p>                    
                        </article>
                        <div class="medio-de-pago"> 
                            <p class="valor-entrada">
                                <br>entradas desde <%= event.cost %> </br>
                            </p>     
                            <h4 class="cuotas"> Cuotas sin interés </h4>        
                            <a href="#"> Ver promociones bancarias <i class="fa-solid fa-credit-card"></i></a>
                            <div class= "contenedor-boton details">
                                <button class= "comprar"><span>Comprar</span></button>
                            </div>            
                        </div>
                    </div>  
                </article>
            </article> 
        </main>        
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->      
    </body>
</html>