<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Evento'}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Header -->
        <main>
            <article class="main-detail">
                <div class="portada-detail-img">
                    <div class="img-product-portada">
                        <img src="/images/eventos/<%= event.banner_img %>" alt="<%=event.banner_img%>" class="product-img-detail-portada"> 
                    </div>
                    <img src="/images/eventos/<%= event.banner_img %>" alt="<%=event.banner_img%>" class="product_img-detail">       
                </div>
                <article class="contenedor-producto-detail-principal">
                    <div class="description-detail">
                        <h1><%= event.title %></h1>
                        <br>
                        <p>  <i class="fa-regular fa-calendar"></i> <%= event.event_date %></p>                 
                        <p>   <i class="fa-solid fa-map"></i> <%= event.ubication %></p>
                    </div>
                    <div class="texto-descripcion">
                    
                        <h1 class="txt-description">Sobre el evento</h1>
                        <br>
                        <p class="info-concierto">
                            <%= event.description %>
                        </p>
                    </div>    
                    <div class="recinto-details">
                        <h1 class="">Recinto</h1>
                        <br>
                        <img src="/images/recintos/luna park.jpg2.jpg" alt="Informacion" class="recinto-img-detail" >            
                        <article>
                            <p class="luna-park"><%= event.ubication %>.
                                <br>Dirección </br>
                                <br>Av. Eduardo Madero 470, C1106 CABA</br>
                            </p>
                            <br>                    
                        </article>
                        <div class="medio-de-pago">
                            <h2>Selecciona tus boletos</h2>
                            <form action="/event/detail/<%= event.id %>/order-detail" method="POST">
                                <span>-</span>
                                <input type="number" name="tickets" value="0" max="10" min="1">
                                <span>+</span>
                                <div class= "contenedor-boton details">
                                    <button type="submit" class="comprar">Comprar</button>
                                </div>
                            </form> 
                            <p class="valor-entrada">
                                <br>entradas desde <%= event.cost %> </br>
                            </p>     
                            <br>
                            <h4 class="cuotas"> Cuotas sin interés </h4>        
                            <a href="#"> Ver promociones bancarias <i class="fa-solid fa-credit-card"></i></a>            
                        </div>
                    </div>  
                </article>
            </article> 
        </main>        
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->      
    </body>
</html>